<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Amrita Trees: Inventory</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/inv2.css">
    <link rel="stylesheet" href="./css/sidebar.css">

  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <!--   ios support   -->
  <link rel="apple-touch-icon" href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-72x72.png?v=1655402102312">
  <link rel="apple-touch-icon" href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-128x128.png?v=1655402106767">
  <link rel="apple-touch-icon" href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-192x192.png?v=1655401339942">
  <meta name="apple-mobile-web-app-status-bar" content="#91b51d">
  <meta name="theme-color" content="#91b51d">

    <script src="./js/app.js" defer></script>
    <script src="./js/sidebar.js" defer></script>
  
</head>

<body>
  
    <nav class="noSelect">
      <div style="padding-left:10px;cursor:pointer;" onclick="toggleSidebar()" class="iconContainer"><i class="fas fa-bars" title="menu"></i></div>
      <div class="iconContainer" style="font-size:x-large;"></div>
      <div style="padding-right:10px;">
        <div style="padding-left:10px;cursor:pointer;" onclick="bellClicked(this)" class="iconContainer" id="bell">
          <i class="fas fa-bell" title="notifications"></i></div>
        <div style="padding-left:10px;cursor:pointer;" onclick="questsClicked(this)" class="iconContainer" id="quest">
          <i class="fas fa-scroll" title="quests"></i></div>
      </div>
    </nav>
  
    <header id="title">
        INVENTORY
    </header>

   <div class="cards-container">
     
              {{#each unlocked}}
        <div class="card">
            <div class="img"><img src="{{this.url}}"></div>
            <div class="label">{{this.tree_name}}</div>
        </div>
              {{/each}}
     
              {{#each locked}}
        <div class="card" style="--theme-color:white;">
            <div class="img"><img src="{{this.url}}" style="filter: grayscale(100%);"></div>
            <div class="label">???</div>
        </div>
              {{/each}}
     
  </div>

  
  
  
  
  
  
  
  
      <div id="overlay" 
         style="display:none;width:100%;height:100%;position:fixed;top:0;left:0;background-color:rgba(0,0,0,.25);z-index:1;" onclick="clickedOverlay()"></div>
  
    <div id="sidebar" class="noSelect">
      <div>
        <div></div>
        <div></div>
<!--         <div style="font-size:2rem;padding-left:10px;cursor:pointer;s" onclick="toggleSidebar()" class="noSelect">✕</div> -->
      </div>
        <div id="profile" style="font-size:1.2rem;">
          <div id="pfp" style="text-align:center;">
            <img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" width="125px" 
                 style="border-radius:50%;border:solid 3px white;">
          </div>
          <div id="greeting" style="text-align:center;">Hello, {{user.username}}</div>
          <div id="showpoints" style="text-align:center;">You have <span style="color:yellowgreen;text-decoration:underline;">{{user.points}}</span> points.</div>
          
          <a href="/leaderboards">LEADERBOARDS</a>
          
          <a href="/">HOME</a>
          
        </div>
        <div id="settings">
          <header><span></span><div>Settings</div><span></span></header>
          <div>
            <span>map</span>
          </div>
          <hr>
          <div class="toggleable">
            <div>sounds</div>
            <div>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div class="toggleable">
            <div>notifications</div>
            <div>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <hr>
          <div>
            <span>about our app</span>
          </div>
          <hr>
          <div class="toggleable">
            <div><a href="./logout">logout</a></div>
            <div><img src="https://cdn.onlinewebfonts.com/svg/img_21244.png" style="width:2rem;padding-right:10px;"></div>
          </div>
          <hr>
        </div>
    </div>
    
  
</body>
<script>


</script>

</html>