<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Amrita Trees: Leaderboards</title>
    <link rel="stylesheet" href="./css/style.css">

    <!--   ios support   -->
    <link rel="apple-touch-icon"
        href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-72x72.png?v=1655402102312">
    <link rel="apple-touch-icon"
        href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-128x128.png?v=1655402106767">
    <link rel="apple-touch-icon"
        href="https://cdn.glitch.global/330e2628-dd2b-4859-9261-38c9564198ee/icon-192x192.png?v=1655401339942">
    <meta name="apple-mobile-web-app-status-bar" content="#91b51d">
    <meta name="theme-color" content="#91b51d">
  
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
/*   height: 300px; */
  display:flex;
  justify-content:center;
}


.row{
  height:calc(100% - 57px);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
table{
  display:inline-block;
}

th,td{
  padding:10px;
  border:2px solid white;
  font-size:1.2rem;
}
  
.header{
  font-size:1.6rem;
}
  

.index{
  position: relative;
}
.index span:after{
  content: attr(data-index);
  position: absolute;
  top: 50%;left: 50%;
  transform:translate(-50%,-50%);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
 
  
h1{
  text-align:center;
  padding:5px;padding-top:9px;
  display:flex;
  justify-content: space-between;
}
h1 a{
  text-decoration:none;
  color:white;
}
</style>
</head>
<body>
  <h1><span><a href="./"><i class="fas fa-arrow-left"></i></a></span>LEADERBOARDS<span></span></h1>
  
<div class="row">
  <div class="column">
    
  
  <table border="0">
        <tr>
          <th class="header" colspan="3">🌟 Ranked on Points 🌟<br>gained</th>
        </tr>

        <tr>
          <th></th>
          <th>Username</th>
          <th>Points</th>
        </tr>
    
      {{#each points}}
        <tr>
          <td>{{@index}}</td>
          <td>{{this.username}}</td>
          <td>{{this.points}}</td>
        </tr>
      {{/each}}
  </table>    
    
  </div>
  <div class="column">

  <table border="0">
        <tr>
          <th class="header"  colspan="3">🌳.  Ranked on Trees  .🌳<br>collected</th>
        </tr>

        <tr>
          <th></th>
          <th>Username</th>
          <th>Collected</th>
        </tr>
    
      {{#each collected}}
        <tr>
          <td class="index"><span data-index="{{@index}}"></span></td>
          <td>{{this.username}}</td>
          <td>{{this.collected}}</td>
        </tr>
      {{/each}}
  </table>
    
  </div>
</div>


</body>
  
</html>