<!DOCTYPE html>
<html lang="en">

<head>

  {{> head }}
  
  <title>Amrita Trees: Leaderboards</title>
  <link rel="stylesheet" href="./css/style.css">
  
<style>
  
body{
  width:100%;
  height:100%;
  background-image:linear-gradient(-45deg,#9cfaad,#42d7a9,#00a59e);  
}
  
  
#container{
  width:100%;
  height:100%;

  position:relative;
/*   background-image:url("https://www.onlygfx.com/wp-content/uploads/2019/06/6-leaf-pattern-3-1.png");
  background-repeat: repeat;
  background-size:170px; */

}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
/*   height: 300px; */
  display:flex;
  justify-content:center;
}


.row{
  height:calc(100% - 57px);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
table{
  display:inline-block;
}

th,td{
  padding:10px;
  border:2px solid white;
  font-size:1.2rem;
}
  
.header{
  font-size:1.6rem;
}
  

.index{
  position: relative;
}
.index span:after{
  content: attr(data-index);
  position: absolute;
  top: 50%;left: 50%;
  transform:translate(-50%,-50%);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
 
  
h1{
  text-align:center;
  padding:5px;padding-top:9px;
  display:flex;
  justify-content: space-between;
}
h1 a{
  text-decoration:none;
  color:white;
}
</style>

<style>

#container{
  width:100%;
  height:100%;
  display:grid;
  grid-template-rows: 50px auto;
}
.main{
  padding-top:30px;
  
  height:100%;
  width: calc(100% - 20px) ;
  padding-left:10px;
}
.main .user{
  --h: 50px;
  display:grid;
  width:100%;
  height: var(--h);
/*   background-color:black; */
  
  grid-template-columns: var(--h) var(--h) auto;
  column-gap:10px;
  margin-bottom:10px;
}
.main .user .pfp{
  height: var(--h);
}
.main .user .pfp img{
  border-radius:50%;
  border:solid 3px white;
  height:100%;
}
  
.main .user .details{
  width:100%;
  display:grid;
  grid-template-columns:2fr 1fr;
  background-image:linear-gradient(25deg,#f9c04d,#fffa7c);
  border-radius:15px;
  padding-left:8px;
  padding-right:8px;
}
.main .user .details > div{
  display:flex;
  flex-direction:column;
  font-size:1.2rem;
  justify-content: center;
  overflow:hidden;
}
</style>  
</head>
<body>
  <div id="container">
    
  <h1><span>
<!--     <a href="./"> -->
      <i class="fas fa-arrow-left" onclick="history.back()"></i>
<!--     </a> -->
    </span>LEADERBOARDS<span></span></h1>
<!--   <div class="row">
  <div class="column">
    
  
  <table border="0">
        <tr>
          <th class="header" colspan="3">🌟 Ranked on Points 🌟<br>gained</th>
        </tr>

        <tr>
          <th></th>
          <th>Username</th>
          <th>Points</th>
        </tr>
    
      {{#each points}}
        <tr>
          <td>{{@index}}</td>
          <td>{{this.username}}</td>
          <td>{{this.points}}</td>
        </tr>
      {{/each}}
  </table>    
    
  </div>
  <div class="column">

  <table border="0">
        <tr>
          <th class="header"  colspan="3">🌳.  Ranked on Trees  .🌳<br>collected</th>
        </tr>

        <tr>
          <th></th>
          <th>Username</th>
          <th>Collected</th>
        </tr>
    
      {{#each collected}}
        <tr>
          <td class="index"><span data-index="{{@index}}"></span></td>
          <td>{{this.username}}</td>
          <td>{{this.collected}}</td>
        </tr>
      {{/each}}
  </table>
    
    </div>
  </div> -->

  <div class="main">
    {{#each points}}
    
    <div class="user">
      <div  style="display:flex;justify-content: center;align-items: center;font-size:2rem;"> {{@index}} </div>
      <div class="pfp"><img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg"></div>
      <div class="details">
        
        <div>
          <span>{{this.username}}</span>
          <span></span>
        </div>
        
        <div style="text-align:right;">
            {{this.points}}
        </div>
        
      </div>
    </div>
    {{/each}}
    
  </div>
    
  </div>
</body>
</html>